@model Otel_Yonetim.Models.Kullanici

<h2>Kullanıcı Güncelle</h2>
<form asp-action="Guncelle">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label>Kullanıcı Adı</label>
        <input asp-for="KullaniciAdi" class="form-control" />
        <span asp-validation-for="KullaniciAdi" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <label>Şifre</label>
        <input asp-for="Sifre" class="form-control" />
        
    </div>
    <div class="mb-3">
        <label>Rol</label>
        <select asp-for="Rol" class="form-select">
            <option>Admin</option>
            <option>Resepsiyon</option>
            <option>Muhasebe</option>
            
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

