@{
    ViewData["Title"] = "Yetkisiz Erişim";
}
<div class="container text-center mt-5">
    <h1 class="text-danger">❌ Yetkisiz Erişim</h1>
    <p>Bu sayfaya erişim yetkiniz bulunmamaktadır.</p>
    <a href="@Url.Action("Index", "AnaPanel")" class="btn btn-primary mt-3">Ana Panele Dön</a>

</div>
