@model Otel_Yonetim.Models.Oda

<h2 class="text-warning mb-4">Oda Güncelle</h2>

<form asp-action="Guncelle" method="post" class="border p-4 rounded shadow-sm bg-light">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label class="form-label">Oda No:</label>
        <input asp-for="OdaNo" class="form-control" />
        <span asp-validation-for="OdaNo" class="text-danger"></span> <!-- Hata mesajı -->
    </div>


    <div class="mb-3">
        <label class="form-label">Tip:</label>
        <select asp-for="Tip" class="form-select">
            <option value="">-- Oda Tipi Seçin --</option>
            <option>Standart Oda (Çift Kişilik / Tek Kişilik)</option>
            <option>Suit Oda (Jakuzili ve Balkonlu)</option>
            <option>Aile Odaları</option>
        </select>
        <span asp-validation-for="Tip" class="text-danger"></span>

    </div>

    <div class="mb-3">
        <label class="form-label">Durum:</label>
        <select asp-for="Durum" class="form-select">
            <option>Boş</option>
            <option>Dolu</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success">Güncelle</button>
    <a href="/Oda" class="btn btn-secondary">İptal</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

